@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(baguio.png) no-repeat fixed center;
    background-size: cover;
    max-height: 100vh;
}

img {
    width: 100%;
}

header {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 55px;
}

header .header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

header .header-left .logo {
    width: 60px;
}

header .header-left nav {
    margin-left: 1000px;
}

header .header-left nav ul {
    display: flex;
}

.header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.header-center .title h1 span{
    text-transform: uppercase;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold;
}

nav ul li a {
    display: block;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.2s;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #b2aeae;
}

header .header-right {
    display: flex;
    align-items: center;
}

header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}

.grid {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(1fr, 2fr);
}

@media only screen and (max-width: 1000px) {
    header {
        padding: 0 20px;
    }

    header .header-right .hamburger {
        display: block;
    }

    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #b2aeae;
        opacity: 50%;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: -1;
    }

    header .header-left nav.active {
        top: 0px;
    }
    
    header .header-left nav ul {
        display: block;
    }

    nav ul li a {
        opacity: 100%;
        color: #ffffff;
    }

    nav ul li a:hover {
        color: #000000;
    }
}
